/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ---------------------Mobile Style-------------------------*/
body {}

.gtkm {
  outline: 3px solid red;
  display: none;
  /*dont forget me*/
}

.displayDate {
  outline: 3px solid black;
}

.displayDate .p {
  font-family: 'Courier New', Courier, monospace;
}

/* General styles for the Nav Bar -------------------------*/

.nav-bar {
  outline: 3px solid red;
}

.nav-menu {
  outline: 3px dotted purple;
  background-color: pink;
  overflow: hidden;
  background-color: green;
  position: relative;
}

.nav-menu a:hover {
  background-color: #bcb72b;
  color: white;
}

.nav-menu #myLinks {
  display: none;
  /*dont forget me*/
}

.nav-menu a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.nav-bar .title {
  outline: 3px dotted purple;
  background-color: yellow;
}

.nav-bar .time-box {
  outline: 3px dotted purple;
  background: orange;
}

.myLinks-text {
  outline: 3px solid black;
  background-color: pink;
  display: none;
  /*dont forget me*/
}

/* General styles for the xword grid section ---------------------- */
#grid {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(14, 1fr);
}

#grid div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50px;
  height: 50px; */
  border: 1px solid black;
  cursor: pointer;
}

/* General styles for the clue section ---------------------- */
.clues {
  position: relative;
  width: 100%;
  overflow: hidden;
  outline: 3px dotted black;
}

input[type="radio"] {
  display: none;
}

#slides {
  width: 100%;
  position: relative;
}

#overflow {
  overflow: hidden;
  width: 100%;
}

.inner {
  display: flex;
  width: 1000%;
  transition: transform 0.5s ease;
}

.frame {
  flex: 1 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 5px;
  background-color: pink;
}

#frame1:checked~#slides .inner {
  transform: translateX(0%);
}

#frame2:checked~#slides .inner {
  transform: translateX(-10%);
}

#frame3:checked~#slides .inner {
  transform: translateX(-20%);
}

#frame4:checked~#slides .inner {
  transform: translateX(-30%);
}

#frame5:checked~#slides .inner {
  transform: translateX(-40%)
}

#frame6:checked~#slides .inner {
  transform: translateX(-50%);
}

#frame7:checked~#slides .inner {
  transform: translateX(-60%);
}

#frame8:checked~#slides .inner {
  transform: translateX(-70%);
}

#frame9:checked~#slides .inner {
  transform: translateX(-80%);
}

#frame10:checked~#slides .inner {
  transform: translateX(-90%);
}

#controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#controls button {
  background-color: #333;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

#controls button:hover {
  background-color: #333;
  color: white;
}

/* #controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#controls label {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

#controls label:hover,
input[type="radio"]:checked+#controls label {
  background: #333;
} */

/* ---------------------Desktop Styles-------------------------*/
@media only screen and (min-width: 768px) {}